
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link href="~/assets/Css/ruang-admin.min.css" rel="stylesheet">
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Trang chủ</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Trang chủ</li>
        </ol>
    </div>Invoice
    <div class="row mb-3">
        <!-- Earnings (Monthly) Card Example -->

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Tổng thu nhập</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.PhanTramVSCN</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span>Tăng sau một tháng</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Tổng số sản phẩm</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TongSoSanPham</div>
                            @*<div class="mt-2 mb-0 text-muted text-xs">
                                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                    <span>Since last years</span>
                                </div>*@
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-product-hunt" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Tổng số khách hàng</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.TongSoKhacHang</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                                <span>Tăng sau một tháng</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Tổng số nhân viên</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TongSoNhanVien</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                <span>Since yesterday</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Area Chart -->
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Thống kê sản phẩm</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <div class="small text-gray-500">
                            Sửa rửa mặt
                            <div class="small float-right"><b>@ViewBag.TongSPSRM trong @ViewBag.TongSoSanPham sản phẩm</b></div>
                        </div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: @ViewBag.PhanTramSRM% " aria-valuenow="ViewBag.PhanTramSRM"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="small text-gray-500">
                            Vệ sinh các nhân
                            <div class="small float-right"><b>@ViewBag.TongSPVSCN trong @ViewBag.TongSoSanPham sản phẩm</b></div>
                        </div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.PhanTramVSCN%" aria-valuenow="@ViewBag.PhanTramVSCN"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="small text-gray-500">
                            Tẩy tế bào chết
                            <div class="small float-right"><b>@ViewBag.TongSPTTBC trong @ViewBag.TongSoSanPham sản phẩm</b></div>
                        </div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewBag.PhanTramTBC%" aria-valuenow="@ViewBag.PhanTramTBC"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="small text-gray-500">
                            Tắm
                            <div class="small float-right"><b>@ViewBag.TongSPTAM trong @ViewBag.TongSoSanPham sản phẩm</b></div>
                        </div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @ViewBag.PhanTramTam%" aria-valuenow="@ViewBag.PhanTramTam"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="small text-gray-500">
                            Dầu xã
                            <div class="small float-right"><b>@ViewBag.TongSPDX trong @ViewBag.TongSoSanPham Items</b></div>
                        </div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.PhanTramDX%" aria-valuenow="@ViewBag.PhanTramDX"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="m-0 small text-primary card-link" href="#">
                        View More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Invoice Example -->
        <div class="col-xl-8 col-lg-7 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Hóa đơn</h6>
                    <a class="m-0 float-right btn btn-danger btn-sm" href="#">
                        View More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                
                @Html.Action("HoaDonPartial", "Admin")

                <div class="card-footer"></div>
            </div>
        </div>
        <!-- Message From Customer-->
    </div>
    <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

